@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
  border: 1px solid whitesmoke;
  overflow-x: auto;
}

.main_header{
  font-family: 'Montserrat', sans-serif;
}

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

.create-form {
  width: 300px;
}

.table-wrapper {
  overflow-x: auto; /* Add horizontal scroll */
  max-width: 100%; /* Ensure the table doesn't exceed its container */
}

.table-wrapper table {
  min-width: 800px; 
  white-space: nowrap; 
  width: 100%;
  background: #fff;
  margin: 1em 0;
  border: 1px solid rgba(14, 233, 112, 0.15);
  filter: drop-shadow(0 0 0 transparent);
  border-radius: .28571429rem;
  text-align: left;
  color: rgba(0, 0, 0, .87);
  border-collapse: separate;
  border-spacing: 0;
}

.table-wrapper th,
.table-wrapper td {
  padding: 8px; /* Adjust cell padding */
  border-bottom: 1px solid #212121;
  margin: 2px;
}
