@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
  border: 1px solid whitesmoke;
}

.main_header{
  font-family: 'Montserrat', sans-serif;
}

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

.create-form {
  width: 300px;
}

table.ui.table {
  width: fit-content;
  min-width: 60vw;
  background: #fff;
  margin: 1em 0;
  border: 1px solid rgba(34, 36, 38, .15);
  box-shadow: none;
  border-radius: .28571429rem;
  text-align: left;
  color: rgba(0, 0, 0, .87);
  border-collapse: separate;
  border-spacing: 0;
}

